--readme README.md
--title PolyDelegate Documentation
--charset utf-8

--markup markdown
--markup-provider kramdown
--output-dir _yardoc

--protected
--private
--default-return ''

--plugin yard_rideliner

lib/**/*.rb
-
doc/*.md
LICENSE.md
